.slider {
    border: 2px solid black;
    max-width: 60%;
    margin: 20px auto;
    // overflow: hidden;
}

.slider-line {
    display: flex;
    // background: orangered;
    // transition: all ease 1s;
    // height: 300px;
    // img {
    //     height: 100%;
    // }

}
