/* ---- screen sizes ---- */
$desktop-max: 1439px;
$desktop-min: 1024px;
$tablet-max: 1023px;
$tablet-min: 768px;
$mobile-max: 767px;

/* ---- colors ---- */
$baseBg: #006483;
$asideBg: #e9f3f1;

$btnGreen: #009859;
$btnBlue: #1a80cf;
$btnRed: #fe4747;

$dashboardCardItem: #cfeaff;
$eventBgTomorrow: rgb(255, 237, 204);
$eventBgToday: rgb(255, 234, 204);
$eventBgOverdue: rgb(255, 227, 227);

$baseText: rgb(0, 83, 118);
$white: #fff;
$black: #000;
$red: red;
$orange: orange;
$yellow: rgb(255, 255, 0);

$blueFocus: blue;
$greyHover: rgb(238, 251, 255);