@charset "UTF-8";
/* ---- screen sizes ---- */
/* ---- colors ---- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  color: rgb(41, 67, 90);
}

body {
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.website {
  display: flex;
  height: 100vh;
}
.website__aside {
  flex: 0 0 300px;
}
.website__page {
  flex: 1 1 auto;
}

.page-title {
  padding-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.notification {
  border: 1px solid rgb(202, 133, 133);
  background-color: rgb(230, 211, 211);
  border-radius: 3px;
  max-width: 900px;
  min-width: 320px;
  min-height: 35px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

.migration-report-list {
  border: 1px solid rgba(0, 83, 118, 0.3);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
  width: -moz-fit-content;
  width: fit-content;
  min-width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
}
.migration-report-list li {
  padding-left: 25px;
  position: relative;
  margin: 10px;
}
.migration-report-list li:before {
  content: "✔";
  position: absolute;
  top: 0;
  left: 0;
  color: green;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  gap: 10px;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .container {
    max-width: 1000px;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  min-height: 100%;
}

.main-auth {
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.top-panel {
  background-color: #2b6e8d;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  height: 50px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-panel a {
  color: white;
  flex: none;
}

.aside {
  background-color: rgb(166, 199, 207);
}

.aside-navigation a {
  display: block;
  padding: 15px 0 10px 20px;
  border-bottom: 1px solid grey;
}

.header h1 {
  width: 300px;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
}

.btn {
  min-width: 100px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px 14px;
  font-size: 18px;
  display: block;
  border: 1px solid rgba(0, 83, 118, 0.5);
  background: #fff;
  border-radius: 4px;
  color: rgb(0, 83, 118);
  text-align: center;
  cursor: pointer;
}
.btn:hover {
  background-color: rgba(0, 83, 118, 0.8);
  color: #fff;
}
.btn:active {
  box-shadow: 0px 0px 5px 1px rgba(0, 200, 255, 0.4);
}
@media (max-width: 767px) {
  .btn {
    width: 100%;
    padding: 16px;
  }
}

.add-btn {
  display: block;
  border: 1px solid transparent;
  border-radius: 4px;
  background: transparent;
  width: 30px;
  height: 30px;
  font-size: 14px;
}

.cell-btn {
  border: 1px solid transparent;
  border-radius: 4px;
  background: transparent;
  width: 30px;
  height: 30px;
  font-size: 14px;
  cursor: pointer;
}

.btn-green {
  border: 1px solid #009859;
  color: #009859;
}
.btn-green:hover {
  background-color: #009859;
}
@media (max-width: 767px) {
  .btn-green {
    background-color: #009859;
    color: #fff;
  }
}

.btn-blue {
  border: 1px solid #1a80cf;
  color: #1a80cf;
}
.btn-blue:hover {
  background-color: #1a80cf;
}
@media (max-width: 767px) {
  .btn-blue {
    background-color: #1a80cf;
    color: #fff;
  }
}

.btn-red {
  border: 1px solid #fe4747;
  color: #fe4747;
}
.btn-red:hover {
  background-color: #fe4747;
}
@media (max-width: 767px) {
  .btn-red {
    background-color: #fe4747;
    color: #fff;
  }
}

.btn-icon-edit {
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}
.btn-icon-delete {
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
}
.btn-icon-delete:hover {
  background-size: 67%;
}

.btn-icon-postpone {
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
}
.btn-icon-add {
  background-repeat: no-repeat;
  background-position: center;
}
.btn-icon-add:hover {
  background-color: #009859;
}

.btn-block {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 16px;
}
@media (max-width: 767px) {
  .btn-block {
    flex-direction: column;
  }
}

.add-btn-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
  width: -moz-fit-content;
  width: fit-content;
}
.add-btn-group span {
  cursor: pointer;
  color: #009859;
  display: block;
}
.add-btn-group span:hover {
  color: #00cb77;
}
.add-btn-group:hover a {
  background-color: #009859;
}
@media (max-width: 767px) {
  .add-btn-group {
    justify-content: center;
    width: 100%;
  }
}

.btn-del {
  border: 1px solid rgba(0, 83, 118, 0.4);
  border-radius: 50%;
  position: absolute;
  right: 3px;
  top: 3px;
  z-index: 1;
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  background-size: 100%;
  cursor: pointer;
}
.btn-del:hover {
  background-color: #fe4747;
}

.form {
  width: 400px;
  margin: 0 auto;
  font-size: 18px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .form {
    width: 100%;
  }
}
.form.auth-form {
  width: 330px;
}

.form__input-block {
  height: 38px;
  margin-bottom: 16px;
}
.form__input-block input {
  width: 100%;
  height: 100%;
  padding-left: 8px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid rgba(0, 83, 118, 0.4);
  outline: none;
  color: rgb(0, 83, 118);
}
.form__input-block input::-moz-placeholder {
  color: rgba(0, 83, 118, 0.4);
}
.form__input-block input::placeholder {
  color: rgba(0, 83, 118, 0.4);
}
.form__input-block input:focus {
  border-bottom: 1px solid blue;
}
.form__input-block input:focus::-moz-placeholder {
  color: rgba(0, 83, 118, 0.1);
}
.form__input-block input:focus::placeholder {
  color: rgba(0, 83, 118, 0.1);
}

.form__textarea-block {
  height: 100px;
  margin-bottom: 16px;
}
.form__textarea-block textarea {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  padding: 8px;
  font-size: 18px;
  resize: none;
  outline: none;
  border: 1px solid rgba(0, 83, 118, 0.4);
  color: rgb(0, 83, 118);
}
.form__textarea-block textarea::-moz-placeholder {
  color: rgba(0, 83, 118, 0.4);
}
.form__textarea-block textarea::placeholder {
  color: rgba(0, 83, 118, 0.4);
}
.form__textarea-block textarea:focus {
  border: 1px solid blue;
}
.form__textarea-block textarea:focus::-moz-placeholder {
  color: rgba(0, 83, 118, 0.1);
}
.form__textarea-block textarea:focus::placeholder {
  color: rgba(0, 83, 118, 0.1);
}

.form__image-block {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: 140px;
  margin-bottom: 16px;
}
.form__image-block img {
  border: 1px solid rgba(0, 83, 118, 0.4);
  height: 100%;
}

.form__file-block {
  margin-bottom: 16px;
}
.form__file-block input {
  border: none;
  color: rgb(0, 83, 118);
}

.input-date-block {
  display: flex;
  justify-content: center;
  gap: 20px;
}

select {
  border: none;
  border-bottom: 1px solid rgba(0, 83, 118, 0.4);
  color: rgb(0, 83, 118);
  padding-right: 7px;
  outline: none;
  height: 100%;
}

.input-type-block {
  position: relative;
  margin-bottom: 44px;
}
.input-type-block select {
  width: 100%;
}

.form__btn-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .form__btn-block {
    flex-direction: column;
    gap: 10px;
  }
}
