.form {
    // border: 1px solid red;
    width: 800px;
    margin: 0 auto;
    font-size: 18px;
    margin-bottom: 20px;
    @media (max-width: $mobile-max) {  
        width: 100%;               
    } 
    &.auth-form	 {
        width: 330px; 
    }
}


.form__input-block {
    // border: 1px solid red;
    height: 38px;
    margin-bottom: 16px;
    input {
        width: 100%;
        height: 100%;
        padding-left: 8px;
        font-size: 18px;
        border: none;
        border-bottom: 1px solid rgba($baseText, .4);			
        outline: none;
        color: $baseText;
    }
    input::placeholder  {
        color: rgba($baseText, 0.4);
    }  
    input:focus {
        border-bottom: 1px solid $blueFocus;
    }  
    input:focus::placeholder {
        color: rgba($baseText, 0.1);
    }
    select {
        // border: 1px solid red;
        width: 100%;
        height: 100%;
        padding-left: 8px;
        font-size: 18px;   
        border: none;
        border-bottom: 1px solid rgba($baseText, .4);			
        outline: none;
        color: $baseText;  
    }
}



.form__textarea-block {
    height: 200px;
    margin-bottom: 16px;

    textarea {
        font-family:  Arial, Helvetica, sans-serif;
        width: 100%;
        height: 100%;
        padding: 8px;
        font-size: 18px;		
        resize: none;
        outline: none;
        border:  1px solid rgba($baseText, .4);
        color: $baseText;
    }
    textarea::placeholder  {
        color: rgba($baseText, 0.4);
    } 	
    textarea:focus {
        border: 1px solid $blueFocus;
    }  
    textarea:focus::placeholder {
        color: rgba($baseText, 0.1);
    }	
}

.form__image-block {
    position: relative;
    width: fit-content;
    height: 140px;
    margin-bottom: 16px;
    img {
        border: 1px solid rgba($baseText, .4);
        height: 100%;
    }
}


.form__file-block {
    margin-bottom: 16px;
    input {
        border: none;
        color: $baseText;
    }
}


.input-date-block {
    display: flex;
    justify-content: center;
    gap: 20px;   
}

select {
    background-color: #fff;
    border: none;
    border-bottom: 1px solid rgba($baseText, .4);
    color: $baseText;
    padding-right: 7px;
    outline: none;
    height: 100%;
}   


.input-type-block {   
    position: relative;
    margin-bottom: 44px;
    select {
        width: 100%;
        background-color: #fff;
    }  
}

.form__btn-block {
   display: flex;
   justify-content: space-between;
   align-items: center;
   @media (max-width: $mobile-max) {  
       flex-direction: column; 
       gap: 10px;              
   }     
}

.form-settings {
    max-width: 600px;
    &__element {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        height: 27px;
        margin-bottom: 30px;
        label {
            font-weight: 600;
        }
    }
    &__element-input-block{
        flex: 0 0 100px;
        height: 100%;
        text-align: start;
        input {
            width: 100%;
            height: 100%;
            padding-left: 5px;
            font-size: 14px;
        }
        input[type=checkbox] {
            height: 90%;
        }
    }
    .flex-connection {
        flex-grow: 1;
        height: 100%;
        border-bottom: 1px dashed lightgrey;
    }
}