.top-panel {
    background-color: #2b6e8d;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    height: 50px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        color: white;
        flex: none;
    }
}