.top-panel {
    background-color: #2b6e8d;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    height: 50px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // form {
    //     border: 1px solid yellow;
    //     flex: 1 1 fit-content;
    // }
    a {
        color: white;
        flex: none;
    }
}